{% extends "HBBlogBundle::layout.html.twig" %}

{% block title %}HBBlogBundle:Blog:index{% endblock %}

{% block Content %}
    <h2>Welcome to the Blog:index page</h2>

     {#     {% for entity in entities %}
         <article class="article">
             <h3>{{entity.title}}</h3>
             <p class="article_info">ajouté {{ entity.creationDate|date('d/m/Y') }} par {{entity.author.name}}</p>
             <p class="article_extrait">
                    {% if entity.content| length>10 %}
                        {{entity.content|slice(0,10)~'...'}}
                        <a href="">Lire la suite</a>
                    {% else %}
                        {{entity.content}}
                    {% endif %}
             </p>
             
         </article>
     {% endfor%}
     <nav id="pagination">
         {%if lienPagePrecedente is not null %}
            <a href ="{{lienPagePrecedente}}"><< précédente</a>
         {% endif %}
         {%if (lienPagePrecedente is not null or lienPageSuivante is not null) %}
             --- page {{page+1}}---
         {%else%}
             {%if countPages == 0 %}
                --- no article --- 
             {%endif %}
         {%endif %}
         {% if lienPageSuivante is not null %} 
            <a href ="{{lienPageSuivante}}">suivante >></a>
         {% endif %} 
     </nav>#}
{# total items count #}
<table>

{# table body #}
{% if pagination.getTotalItemCount>0 %}
    <tr>
   {# sorting of properties based on query components #}
       <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
       <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
   </tr>
   {% for article in pagination %}
    <tr width="100%"  class="LigneArticle">
        <td >{{ article.id }}</td>
        <td>{{ article.title }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('blog_article_slug', { slug: article.slug }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('article_edit', { id: article.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
        
    </tr>
    
    {% endfor %}
{% else %}
    Aucun article
{% endif %}
    
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
