{% extends 'HBBlogBundle::layout.html.twig' %}

{% block Content -%}
    <h2> Visualisation d'un article</h2>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ entity.content }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{{ entity.creationDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Lasteditdate</th>
                <td>{{ entity.lastEditDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Publishdate</th>
                <td>{{ entity.publishDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ entity.published }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ entity.enabled }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ entity.enabled }}</td>
            </tr>
            {% if entity.author.id is defined %}<tr>
                <th>Auteur de l'article</th>
                <td><a href="{{ path('user_show',{'id' : entity.author.id})}}">
                    {{ entity.author.name}}
                </a>    
</td>
            </tr>
            {% endif %}
            
            
        </tbody>
    </table>
        <ul class="record_actions"
        <a href="{{ path('article') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('article_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>

{% endblock %}
